# XUP DSSS board UCF File

# Clock
Net clk_100mhz LOC="AJ15";
Net clk_100mhz IOSTANDARD = LVCMOS25;
Net clk_100mhz PERIOD = 10000 ps;

# Data 7 segment
NET "seven_segment[6]" LOC = "R7"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[5]" LOC = "P2"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[4]" LOC = "R2"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[3]" LOC = "T2"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[2]" LOC = "P4"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[1]" LOC = "P5"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "seven_segment[0]" LOC = "R8"  | IOSTANDARD = LVTTL | SLEW = SLOW;

# Push Buttons
NET "s0" LOC = "N3"   | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "s1" LOC = "N4" | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "rst" LOC = "P7"  | IOSTANDARD = LVTTL | SLEW = SLOW;

# DIP Switches
NET "p[0]" LOC = "N1"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "p[1]" LOC = "M3"  | IOSTANDARD = LVTTL | SLEW = SLOW;

# Rotary encoder
NET "channel_a" LOC = "T6"  | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "channel_b" LOC = "V1"  | IOSTANDARD = LVTTL | SLEW = SLOW;

# Transceiver
NET "tx_data" LOC = "N5"  | IOSTANDARD = LVTTL | SLEW = SLOW;

# Test points



